In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectFromModel

In [ ]:
df = pd.read_csv('ant-1.3.csv')

In [ ]:
df['bug'] = df['bug'].apply(lambda x: 1 if x > 0 else 0)
df

,name,version,name.1,wmc,dit,noc,cbo,rfc,lcom,ca,...,dam,moa,mfa,cam,ic,cbm,amc,max_cc,avg_cc,bug
0,ant,1.3,org.apache.tools.ant.taskdefs.ExecuteOn,11,4,2,14,42,29,2,...,1.0000,1,0.885057,0.232323,3,4,34.545455,3,1.2727,0
1,ant,1.3,org.apache.tools.ant.DefaultLogger,14,1,1,8,32,49,4,...,1.0000,0,0.000000,0.307692,0,0,16.857143,6,1.6429,1
2,ant,1.3,org.apache.tools.ant.taskdefs.TaskOutputStream,3,2,0,1,9,0,0,...,1.0000,1,0.714286,0.666667,1,1,17.333333,1,0.6667,0
3,ant,1.3,org.apache.tools.ant.taskdefs.Cvs,12,3,0,12,37,32,0,...,1.0000,1,0.770833,0.458333,0,0,24.083333,3,1.4167,0
4,ant,1.3,org.apache.tools.ant.taskdefs.Copyfile,6,3,0,4,21,1,0,...,1.0000,0,0.880952,0.416667,2,2,21.000000,1,0.8333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,ant,1.3,org.apache.tools.ant.taskdefs.Javadoc,65,3,0,21,155,1670,6,...,1.0000,5,0.370000,0.244141,3,3,21.830769,10,1.5231,0
121,ant,1.3,org.apache.tools.ant.BuildException,14,4,0,99,28,0,98,...,1.0000,1,0.650000,0.333333,1,2,9.785714,2,0.6429,0
122,ant,1.3,org.apache.tools.ant.IntrospectionHelper,14,1,0,24,63,63,20,...,0.4375,0,0.000000,0.333333,0,0,56.571429,24,2.7857,1
123,ant,1.3,org.apache.tools.ant.NoBannerLogger,4,2,0,3,16,0,0,...,1.0000,0,0.842105,0.875000,1,1,13.500000,5,1.7500,0
124,ant,1.3,org.apache.tools.mail.MailMessage,27,1,0,3,63,297,1,...,0.0000,2,0.000000,0.379630,0,0,18.222222,11,1.4444,0

In [ ]:
df.drop(columns=['name', 'version', 'name.1'], inplace=True)

In [ ]:
df.rename(columns = {'lcom3':'lcomthree'}, inplace = True)

In [ ]:
X = df.drop('bug', axis=1)
y = df['bug']

In [ ]:
X

,wmc,dit,noc,cbo,rfc,lcom,ca,ce,npm,lcomthree,loc,dam,moa,mfa,cam,ic,cbm,amc,max_cc,avg_cc
0,11,4,2,14,42,29,2,12,5,0.725000,395,1.0000,1,0.885057,0.232323,3,4,34.545455,3,1.2727
1,14,1,1,8,32,49,4,4,12,0.835165,257,1.0000,0,0.000000,0.307692,0,0,16.857143,6,1.6429
2,3,2,0,1,9,0,0,1,1,0.000000,58,1.0000,1,0.714286,0.666667,1,1,17.333333,1,0.6667
3,12,3,0,12,37,32,0,12,12,0.858586,310,1.0000,1,0.770833,0.458333,0,0,24.083333,3,1.4167
4,6,3,0,4,21,1,0,4,6,0.700000,136,1.0000,0,0.880952,0.416667,2,2,21.000000,1,0.8333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,65,3,0,21,155,1670,6,21,59,0.917188,1504,1.0000,5,0.370000,0.244141,3,3,21.830769,10,1.5231
121,14,4,0,99,28,0,98,1,14,0.384615,153,1.0000,1,0.650000,0.333333,1,2,9.785714,2,0.6429
122,14,1,0,24,63,63,20,20,9,0.841346,822,0.4375,0,0.000000,0.333333,0,0,56.571429,24,2.7857
123,4,2,0,3,16,0,0,3,4,0.333333,59,1.0000,0,0.842105,0.875000,1,1,13.500000,5,1.7500
124,27,1,0,3,63,297,1,2,10,0.778846,527,0.0000,2,0.000000,0.379630,0,0,18.222222,11,1.4444

In [ ]:
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Random Forest model on the selected features
clf = RandomForestClassifier(n_estimators=50, random_state=42)
clf.fit(X_train, y_train)

# Predictions
y_pred_test = clf.predict(X_test)

# Evaluate model
test_accuracy = accuracy_score(y_test, y_pred_test)

print("Testing Accuracy:", test_accuracy)

Testing Accuracy: 0.64

In [ ]:
import pandas as pd
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Create a linear regression model
estimator = RandomForestClassifier(n_estimators=50, random_state=42)

# Create the RFE model
# Change the number of features you want to select as needed
rfe = RFE(estimator, n_features_to_select=5)

# Fit the RFE model to the data
rfe.fit(X, y)

# Print the selected features
print("Selected Features:")
for i in range(len(rfe.support_)):
    if rfe.support_[i]:
        print(df.columns[i])

selected_feature_indices = rfe.support_

# Extract the selected feature names
selected_feature_names = X.columns[selected_feature_indices]

# Create a new DataFrame containing only the selected columns
selected_df = df[selected_feature_names]

Selected Features:
rfc
lcom
loc
cam
amc

In [ ]:
selected_df

     rfc  lcom   loc       cam        amc
0     42    29   395  0.232323  34.545455
1     32    49   257  0.307692  16.857143
2      9     0    58  0.666667  17.333333
3     37    32   310  0.458333  24.083333
4     21     1   136  0.416667  21.000000
..   ...   ...   ...       ...        ...
120  155  1670  1504  0.244141  21.830769
121   28     0   153  0.333333   9.785714
122   63    63   822  0.333333  56.571429
123   16     0    59  0.875000  13.500000
124   63   297   527  0.379630  18.222222

[125 rows x 5 columns]

In [ ]:
X_RFE = selected_df
y_RFE = df['bug']

In [ ]:
y_RFE

0      0
1      1
2      0
3      0
4      0
      ..
120    0
121    0
122    1
123    0
124    0
Name: bug, Length: 125, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_RFE, y_RFE, test_size=0.3, random_state=42)

# Train Random Forest model on the selected features
clf = RandomForestClassifier(n_estimators=50, random_state=42)
clf.fit(X_train, y_train)

# Predictions
y_pred_test = clf.predict(X_test)

# Evaluate model
test_accuracy = accuracy_score(y_test, y_pred_test)

print("Testing Accuracy:", test_accuracy)

Testing Accuracy: 0.8421052631578947

In [ ]:
y_preds = pd.DataFrame(data={'PredictedBug': y_pred_test}, index=y_test.index)
y_preds.head(3)

    PredictedBug
18             0
42             0
36             0

In [ ]:
combined_testing_data = X_test.join(y_test.to_frame())
combined_testing_data = combined_testing_data.join(y_preds)
combined_testing_data.head(3)
# total num of rows
total_rows = len(combined_testing_data)

In [ ]:
correctly_predicted_data = combined_testing_data[combined_testing_data['bug']==combined_testing_data['PredictedBug']]
correctly_predicted_rows = len(correctly_predicted_data)
print('The model correctly predicted ', round((correctly_predicted_rows / total_rows), 3) * 100, '% of testing data')

The model correctly predicted  84.2 % of testing data

In [ ]:
correctly_predicted_bug = correctly_predicted_data[correctly_predicted_data['bug']==True]
correctly_predicted_bug.head(3)

    rfc  lcom  loc       cam        amc  bug  PredictedBug
53   73   112  502  0.170455  28.176471    1             1

In [ ]:
# select all rows and feature cols
feature_cols = correctly_predicted_bug.iloc[:, :-2]
# selected all rows and one label col (either RealBug or PredictedBug is fine since they are the same)
label_col = correctly_predicted_bug.iloc[:, -2]

In [ ]:
# decide which row to be selected
selected_row = 0
# select the row in X_test which contains all of the feature values
X_explain = feature_cols.iloc[[selected_row]]
# select the corresponding label from the DataFrame that we just created above
y_explain = label_col.iloc[[selected_row]]
print('one row of feature:', '\n\n', X_explain, '\n')
print('one row of label:', '\n\n', y_explain)

one row of feature:

     rfc  lcom  loc       cam        amc
53   73   112  502  0.170455  28.176471

one row of label:

 53    1
Name: bug, dtype: int64

In [ ]:
from pyexplainer import pyexplainer_pyexplainer

py_explainer = pyexplainer_pyexplainer.PyExplainer(X_train = X_train,
                                                   y_train = y_train,
                                                   indep = X_train.columns,
                                                   dep = 'bug',
                                                   blackbox_model = clf)

In [ ]:
X_train.columns

Index(['rfc', 'lcom', 'loc', 'cam', 'amc'], dtype='object')

In [ ]:
X_explain.reset_index(drop=True, inplace=True)

In [ ]:
rules = py_explainer.explain(X_explain=X_explain,
                             y_explain=y_explain,
                             search_function='crossoverinterpolation')

D:\Anaconda\lib\site-packages\pyexplainer\pyexplainer_pyexplainer.py:888: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top_fourty_df = top_fourty_df.append(
D:\Anaconda\lib\site-packages\pyexplainer\pyexplainer_pyexplainer.py:888: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top_fourty_df = top_fourty_df.append(
D:\Anaconda\lib\site-packages\pyexplainer\pyexplainer_pyexplainer.py:920: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_neighbours_similarity_df = final_neighbours_similarity_df.append(
D:\Anaconda\lib\site-packages\pyexplainer\pyexplainer_pyexplainer.py:920: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_neighbours_similarity_df = final_neighbours_similarity_df.append(
D:\Anaconda\lib\site-packages\pyexplainer\pyexplainer_pyexplainer.py:971: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_con_df = new_con_df.append(new_ins, ignore_index=True)
D:\Anaconda\lib\site-packages\pyexplainer\pyexplainer_pyexplainer.py:997: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_con_df = new_con_df.append(new_ins, ignore_index=True)
D:\Anaconda\lib\site-packages\pyexplainer\pyexplainer_pyexplainer.py:1000: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  predict_dataset = train_set_neigh.append(

In [ ]:
rules.keys()

dict_keys(['synthetic_data', 'synthetic_predictions', 'X_explain', 'y_explain', 'indep', 'dep', 'top_k_positive_rules', 'top_k_negative_rules', 'local_rulefit_model'])

In [ ]:
py_explainer.visualise(rules)

HBox(children=(Label(value='Risk Score: '), FloatProgress(value=0.0, bar_style='info', layout=Layout(width='40…

Output(layout=Layout(border='3px solid black'))

FloatSlider(value=28.18, continuous_update=False, description='#1 The value of amc is less than 28.18', layout…